#conteneur {
    display: flex;
    justify-content: flex-start;
    font-family: helvetica;
}


/* Boutons */

#boutonBlanc {
	width:17px;
	height:17px;
    background: white;
	font:bold 13px Arial;
	border-radius:50%;
	border:none;
	color:#fff;
    box-shadow: 1px 1px 1px black;
}
#boutonBlanc:hover {
    background: grey;
}

#boutonRouge {
	width:17px;
	height:17px;
    background: red;
	font:bold 13px Arial;
	border-radius:50%;
	border:none;
	color:#fff;
}
#boutonRouge:hover {
    background: grey;
}

#boutonBleu {
	width:17px;
	height:17px;
    background: blue;
	font:bold 13px Arial;
	border-radius:50%;
	border:none;
	color:#fff;
}
#boutonBleu:hover {
    background: grey;
}

#boutonVert {
	width:17px;
	height:17px;
    background: green;
	font:bold 13px Arial;
	border-radius:50%;
	border:none;
	color:#fff;
}
#boutonVert:hover {
    background: grey;
}

#boutonOrange {
	width:17px;
	height:17px;
    background: orange;
	font:bold 13px Arial;
	border-radius:50%;
	border:none;
	color:#fff;
}
#boutonOrange:hover {
    background: grey;
}


/* La police */

@font-face {
    font-family: 'kanitmedium';
    src: url('police/kanit_medium_macroman/kanit-medium-webfont.eot');
    src: url('police/kanit_medium_macroman/kanit-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('police/kanit_medium_macroman/kanit-medium-webfont.woff2') format('woff2'),
    url('police/kanit_medium_macroman/kanit-medium-webfont.woff') format('woff'),
    url('police/kanit_medium_macroman/kanit-medium-webfont.ttf') format('truetype'),
    url('police/kanit_medium_macroman/kanit-medium-webfont.svg#kanitmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Les images */

#photo1 {
    width: 175px;
    background-color: darkgrey;
    border: 3px black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 6px 6px 6px black;
}

#photoNormal {
    width: 175px;
    background-color: white;
}

nav .imageflottante {
    float: left;
    margin-right: 5px;
    width: 30px;
    height: 30px;
}

section .imageflottante {
    float: left;
    margin-right: 20px;
    width: 70px;
    height: 70px;
}


/* Les titres */

h1
/* Prénom Nom */

    {
    text-align: center;
    text-shadow: 1px 1px 1px grey;
    font-weight: bold;
    font-size: 3em;
    font-family: 'kanitmedium', helvetica;
}

h2
/* Titre de la page */

    {
    text-align: center;
    text-shadow: 1px 1px 1px grey;
    font-weight: bold;
    font-size: 2em;
    font-family: 'kanitmedium', helvetica;
}

h3
/* Titres des blocs du corps */

    {
    font-size: 1.6em;
}

h4
/* Titres des blocs du navigateur */

    {
    text-align: center;
    text-shadow: 1px 1px 1px grey;
    font-weight: bold;
    font-size: 1.25em;
}

strong
/* Titres des blocs des expériences */

    {
    font-size: 1.05em;
}

h5
/* Lieux de travail */

    {
    font-size: 0.85em;
}


/* Les dates */

em {
    font-style: italic;
    font-weight: bold;
    color: darkblue;
}


/* Les tableaux */

td 
{
    padding: 10px;
}

section td 
{
    padding: 13px;
}

tbody {
    color: darkblue;
}

#espaceTableau 
{
    width: 30px;
}

section table:hover
{
    border: 2px double black;
    background-color: bisque;
}

.jauge
{
    border: 1px solid black;
    color: black;
    background-color: aquamarine;
    padding: 5px 10px 5px 5px;
    
    background-image: linear-gradient(90deg, #1CEDDF 0%, aquamarine 20%, #1CEDDF 40%, aquamarine 60%, #1CEDDF 80%, aquamarine 100%);
    
    position: relative; /* Permettra de décaler le bloc */;

    animation-name: deplacerJauge; /* Nom de l'animation */
    animation-duration: 10s; /* Durée de l'animation */
    animation: deplacerJauge 1s linear alternate infinite ; /* Laisse le bloc dans sa position finale */
}


@keyframes deplacerJauge {
    30% {
        background-image: linear-gradient(90deg, aquamarine 0%, #1CEDDF 20%, aquamarine 40%, #1CEDDF 60%, aquamarine 80%, #1CEDDF 100%);
    }
    60% {
        background-image: linear-gradient(90deg, aquamarine 0%, #1CEDDF 16%, aquamarine 32%, #1CEDDF 48%, aquamarine 66%, #1CEDDF 90%, aquamarine 100%);
    }
    90% {
        background-image: linear-gradient(90deg, aquamarine 0%, #1CEDDF 14%, aquamarine 28%, #1CEDDF 42%, aquamarine 56%, #1CEDDF 70%, aquamarine 94%, #1CEDDF 100%);
    }
}


/* Les Liens */

.boutonSommaire {
    text-align: center;
    width: 130px;
    margin-left: 22%;
    padding:6px 5px 6px 5px;
	font:bold 13px Arial;
	background: darkgrey;
	border-radius:10px;
	border: 1px solid #ccc;
    box-shadow: 6px 6px 6px black;
}

.lienSommaire {
    color:black;
    text-decoration: none;
}

.boutonSommaire:hover {
	background: grey;
}


/* Le navigateur */

nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    background-color: #7CC9F2;
    border: 3px black;
    border-radius: 10px;
    margin-right: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 6px 6px 6px black;
}

.blocsDuNavigateur {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Corps de Section : Expériences, formations, compétences */

#blocDesBoutons {
	display: flex;
    justify-content: space-between;
    border-radius:12px 0 12px 0;
    border:1px solid #ccc;
	background: darkgrey;
	border:none;
	color:#555;
	font:bold 12px Verdana;
	border:1px solid #ccc;
    padding-top: 5px;
    padding-right: 1%;
    padding-bottom: 5px;
    padding-left: 1%;
    margin-top: 1%;
    margin-left: 88%;
    box-shadow: 6px 6px 6px black;
}

#corps {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#corps li:hover {
    color: darkblue;
}

.blocsDuCorps {
    margin-top: 15px;
    margin-bottom: 15px;
}

.BlocsDesExperiences {
    margin-bottom: 7px;
}

.BlocsDesExperiences li {
    font-family: verdana;
    font-size: 0.95em;
}


#handshake {
    position: relative; /* Permettra de décaler le bloc */
    top: 0px;
}

#handshake:hover {
    margin-top: -10px; /* Simplifie le calcul des positions initiale et finale du bloc */
    animation-name: deplacerBloc1; /* Nom de l'animation */
    animation-duration: 0.5s; /* Durée de l'animation */
    animation: deplacerBloc1 0.5s linear alternate infinite ;
}

@keyframes deplacerBloc1 {
    from {
        top: 10px; 
    }
    to {
        bottom: 25%;
    }
}

#motarboard {
    position: relative; /* Permettra de décaler le bloc */
}

#motarboard:hover {
    animation-name: deplacerBloc2; /* Nom de l'animation */
    animation-duration: 1s; /* Durée de l'animation */
    animation: deplacerBloc2 1s linear alternate infinite ;
}

@keyframes deplacerBloc2 {
    100% {
        transform: rotate(360deg); 
    }
}

#development-skill {
    position: relative; /* Permettra de décaler le bloc */
}

#development-skill:hover {
    animation-name: deplacerBloc3; /* Nom de l'animation */
    animation-duration: 0.5s; /* Durée de l'animation */
    animation: deplacerBloc3 0.5s linear alternate infinite ;
}

@keyframes deplacerBloc3 {
    from {
        transform: translateX(-5px); 
    }
    to {
        transform: translateX(5px);
    }
}


/* Les média-queries */



@media screen and (min-width: 1000px) 
/* Si la fenêtre fait un minimum de 1000px le petit navigateur disparait */
{
    #petitNavigateur
    {
    display: none;
    }
}

@media screen and (max-width: 1000px)
/* Si la fenêtre fait un maximum de 1000px le petit navigateur remplace le grand */
{
    nav 
    {
        display: none;
    }
    
    #petitNavigateur
    {
    display: flex;
    justify-content: space-between;
    width: auto;
    background-color: #7CC9F2;
    border: 3px black;
    border-radius: 10px;
    margin-right: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 6px 6px 6px black;
    }
    #blocDesBoutons {
	display : none;
}
}

@media screen and (max-width: 720px) 
/* Si la fenêtre fait un maximum de 750px tous les navigateurs disparaissent */
{
    nav 
    {
        display: none;
    }
    
    #petitNavigateur
    {
    display: none;
    }
}

@media screen and (min-width: 1250px)
/* Si la fenêtre fait un minimum de 1250px les logos peuvent apparaitre */
{
    #fif:hover 
    {
    background-image: url(image/FIF.JPG);
    background-repeat: no-repeat;
    background-position: top right;
    }

#altus:hover 
    {
    background-image: url(image/Altus.JPG);
    background-repeat: no-repeat;
    background-position: top right;
    }

#ausy:hover 
    {
    background-image: url(image/Ausy.JPG);
    background-repeat: no-repeat;
    background-position: top right;
    }

#areva:hover 
    {
    background-image: url(image/Areva.JPG);
    background-repeat: no-repeat;
    background-position: top right;
    }
#iae:hover 
    {
    background-image: url(image/iae.JPG);
    background-repeat: no-repeat;
    background-position: top right;
    }
#unicaen:hover 
    {
    background-image: url(image/unicaen.JPG);
    background-repeat: no-repeat;
    background-position: top right;
    }
}

@media screen and (max-width: 1250px)
/* Si la fenêtre fait un maximum de 1250px toutes les images flotantes disparaissent */
{
    .imageflottante 
    {
        display: none;
    }
}

@media all and (max-device-width: 480px)
/* Si le site est vu sur un smartphone alors les règles suivantes s'appliquent */
{
    #conteneur
    {
        font-size: 0.5em;
    }
}
